<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table class="table table-bordered">
                <tr>
                    <td>
                        <span>ID</span>
                    </td>
                    <td>
                        <span>Name</span>
                    </td>
                    <td>
                        <span>Description</span>
                    </td>
                    <td>
                        <span>Developer</span>
                    </td>
                    <td>
                        <span>Platform</span>
                    </td>
                    <td>
                        <span>Version</span>
                    </td>
                    <td>
                        <span>Price</span>
                    </td>
                </tr>
                <tr>
                    {{#each rows}}
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                    {{/each}}
                </tr>
            </table>
            {{#if user}}
            {{#each errors}}
            <div class="alert alert-danger">
                {{this}}
            </div>
            {{/each}}
            <form method="post">
                <div class="form-group">
                    <label for="name">Comment: </label>
                    <textarea class="form-control" name="comment"rows="10" cols="60"></textarea>
                </div>
                <button class="btn btn-primary mb-2" type="submit">Submit</button>
            </form>
            {{/if}}
        </div>
        <div class="col-6">
            {{#each commentInfo}}
                <div class="border">
                <p>{{this.commentText}}</p>
                <p>By {{this.userName}} at <script>
                    var d = new Date({{this.Date}});
                    var year = d.getFullYear();
                    var month = d.toLocaleString('en-us', { month: 'long' });
                    var day = d.getDate();
                    var hours = ("0" + d.getHours()).slice(-2);
                    var mins = ("0" + d.getMinutes()).slice(-2);
                    var time = "" + hours + ":" + mins + " " + month + " " + day + ", " + year;
                    document.write(time);
                </script></p>
                <form method="post"> 
                <button name="deleteComment" type="submit" value="{{this.Date}}+{{this.userName}}">Delete</button>
                </form>
                </div>
                <br>
            {{/each}}
        </div>
    </div>
</div>